<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
      	<h3>Find the Best Restaurants in Denver</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jslider2.jpg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
      	<h3>Explore</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jslider3.jpg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
      	<h3>Connect</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% @places.each do |place| %>
	<div class="booyah-box col-10 offset-1">
		<h1><%= link_to place.name, place_path(place) %></h1><br />
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />

		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>
	<% if place.comments.present? %>
		<div class="col-12">
  			<blockquote>
    			<% if place.comments.last.humanized_rating.present? %>
      				<b><%= place.comments.last.humanized_rating %></b> -
    			<% end %>
    			<%= place.comments.last.message %>
    			<small><%= place.comments.last.user.email %></small>
  			</blockquote>
		</div>
	<% end %>
  <% if place.photos.present? %>
    <div class="col-12">
      <b><%= @photo %></b>
	  </div>
  <% end%>
  </div>
<% end %>


<div class="row margin-twenty5-zero margin-b-zero pagination-row">
	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
		<ul class="pagination">
			<li class="disabled"> <%= will_paginate(@articles,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>
		</ul>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info">
		<span class="pull-right"><%= page_entries_info(@articles) %></span>
	</div>
</div>