<% @places.each do |place| %>
	<div class="booyah-box col-10 offset-1">
		<h1><%= link_to place.name, place_path(place) %></h1><br />
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />

		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>
	<% if place.comments.present? %>
		<div class="col-12">
  			<blockquote>
    			<% if place.comments.last.humanized_rating.present? %>
      				<b><%= place.comments.last.humanized_rating %></b> -
    			<% end %>
    			<%= place.comments.last.message %>
    			<small><%= place.comments.last.user.email %></small>
  			</blockquote>
		</div>
	<% end %>
	</div>
<% end %>


<div class="row margin-twenty5-zero margin-b-zero pagination-row">
	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
		<ul class="pagination">
			<li class="disabled"> <%= will_paginate(@articles,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>
		</ul>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info">
		<span class="pull-right"><%= page_entries_info(@articles) %></span>
	</div>
</div>